In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("vine_table.csv")

In [3]:
df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R27ZP1F1CD0C3Y,5,0,0,N,Y
1,RJ7RSBCHUDNNE,5,0,0,N,Y
2,R1HVYBSKLQJI5S,5,0,0,N,Y
3,R2HAXF0IIYQBIR,1,0,0,N,Y
4,RNYLPX611NB7Q,5,0,0,N,Y

In [8]:
#total_votes count is equal to or greater than 20 
new_df = df[df['total_votes'] > 20]

In [18]:
new_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,result
685,R36PQ9D8L2AAOH,5,30,32,N,Y,True
1786,R23GHBE86II0SK,5,18,21,N,Y,True
2020,R18KVPY0TO33BM,5,241,248,N,Y,True
2429,R2ZB78BDM8BRCF,1,99,113,N,Y,True
6104,R10ORTN0I3G5B9,1,19,26,N,Y,True

In [19]:
new_result = new_df.loc[(new_df.helpful_votes)/(new_df.total_votes) > 0.5]

new_result.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,result
685,R36PQ9D8L2AAOH,5,30,32,N,Y,True
1786,R23GHBE86II0SK,5,18,21,N,Y,True
2020,R18KVPY0TO33BM,5,241,248,N,Y,True
2429,R2ZB78BDM8BRCF,1,99,113,N,Y,True
6104,R10ORTN0I3G5B9,1,19,26,N,Y,True

In [22]:
vine_paid = new_result[new_result['vine'] == 'Y']
vine_paid.head(5)

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase, result]
Index: []

In [25]:
vine_unpaid = new_result[new_result['vine'] == 'N']
vine_unpaid.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,result
685,R36PQ9D8L2AAOH,5,30,32,N,Y,True
1786,R23GHBE86II0SK,5,18,21,N,Y,True
2020,R18KVPY0TO33BM,5,241,248,N,Y,True
2429,R2ZB78BDM8BRCF,1,99,113,N,Y,True
6104,R10ORTN0I3G5B9,1,19,26,N,Y,True

In [31]:
#determine the total number of reviews
len(vine_unpaid)

340

In [37]:
#determine the number of 5 star reviews
vine_unpaid_star = vine_unpaid[vine_unpaid['star_rating'] == 5]
vine_unpaid_star.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,result
685,R36PQ9D8L2AAOH,5,30,32,N,Y,True
1786,R23GHBE86II0SK,5,18,21,N,Y,True
2020,R18KVPY0TO33BM,5,241,248,N,Y,True
7198,R1SHEELXA1IXQP,5,45,57,N,Y,True
7341,R1IQJ99JOPJOE4,5,73,94,N,N,True

In [38]:
len(vine_unpaid_star)

87

In [42]:
#the percentage of 5 star reviews that are unpaid is 87/340 * 100 which is 25.6%